p{
    color: white;
    font-size: 2rem;
    padding: 10%;
}
.text{
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p button{
   background-color: blue;
   width: 25%;
   color: whitesmoke;
   margin-top: 30px;
   align-items: center;
   text-align: center;
   margin-left: 60vh;
   border: none;
   border-radius: 10px;
}